<footer class="main-footer" id="main-footer">

	<div class="container-fluid">

		Trump on Stern is a collection of (almost) all appearances that Donald Trump made on the Howard Stern Show. If you know of any that are missing, please <a href="mailto:chris@chrisgherbert.com">get in touch</a>.

	</div><!-- /.container -->

</footer>