<footer class="main-footer" id="main-footer">

	<div class="container-fluid">

		<p>
			Trump on Stern is a collection of (almost) all appearances that Donald Trump made on the Howard Stern Show. If you know of any that are missing, please <a href="mailto:chris@chrisgherbert.com">get in touch</a>.
		</p>

		<p>
			The image of Donald Trump used in the header, <a href="https://www.flickr.com/photos/donkeyhotey/31748741123">“Donald Trump-Caricature”</a> by <a href="https://www.flickr.com/photos/donkeyhotey/31748741123">DonkeyHotey</a> is licensed under <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0</a>.
		</p>

	</div><!-- /.container -->

</footer>