<footer class="main-footer" id="main-footer">

	<div class="container-fluid">

		<p>
			"Trump on Stern" was created by <a href="http://chrisgherbert.com">Chris Herbert</a> and <a href="https://twitter.com/barubin">Barry Rubin</a>. We believe these interviews are an essential resource for understanding Donald Trump and should be accessible to the American people in full.
		</p>

		<p>
			If you found this site to be useful, please also visit <a href="http://www.creepsheet.com">Creep Sheet</a>, an encyclopedia of public figures accused of sexual assault or sexual harassment.
		</p>

		<hr>

		<p><em>
			The image of Donald Trump used in the header, <a href="https://www.flickr.com/photos/donkeyhotey/31748741123">“Donald Trump-Caricature”</a> by <a href="https://www.flickr.com/photos/donkeyhotey/31748741123">DonkeyHotey</a> is licensed under <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0</a>.
			</em>
		</p>

	</div><!-- /.container -->

</footer>